pymobiledevice3>=4.0.0
mutagen>=1.47.0
fastapi>=0.100.0
uvicorn>=0.22.0
python-multipart>=0.0.32
requests>=2.31.0
pywin32>=306
sse-starlette>=1.6.0
cryptography>=46.0.0
librosa>=0.11.0
soundfile>=0.13.0
